In [ ]:



**1. Ürün Satışı
**2 TB Kırmızı 5400 rpm SATA III 3.5 Dahili NAS HDD' adlı ürünü satın alan müşterilerin ürünü aşağıda satın alıp almadığına dair bir rapor oluşturmanız gerekir.
**1. 'Polk Ses - 50 W Woofer - Siyah' -- (other_product)

select  distinct  sc.customer_id ,sc.first_name, sc.last_name,
CASE WHEN so.order_id=any(SELECT order_id FROM sale.order_item WHERE product_id = 13)
THEN 'Yes' ELSE 'No' END Other_Product
from sale.order_item soi ,product.product pp,sale.customer sc ,sale.orders so
where soi.product_id = pp.product_id and sc.customer_id = so.customer_id and so.order_id= soi.order_id
		and	soi.order_id = any (select order_id
from sale.order_item
where product_id = 6)

order by  1


**2. Dönüşüm Oranı
**Aşağıda, bir E-Ticaret şirketi tarafından verilen iki farklı reklam türüne tıklayarak web sitesini ziyaret eden müşterilerin eylemlerinin bir tablosunu görüyorsunuz. 
**Her Reklam türü için dönüşüm oranını döndürmek üzere bir sorgu yazın.



CREATE TABLE CustomerAction (
	Visitor_ID INT IDENTITY (1, 1) PRIMARY KEY,
	Adv_Type VARCHAR (5) NOT NULL,
	[Action] VARCHAR (25) NOT NULL
);

SET IDENTITY_INSERT CustomerAction ON;
INSERT INTO CustomerAction (Visitor_ID, Adv_Type, [Action])
VALUES
(1, 'A', 'Left'),
(2, 'A', 'Order'),
(3, 'B', 'Left'),
(4, 'A', 'Order'),
(5, 'A', 'Review'),
(6, 'A', 'Left'),
(7, 'B', 'Left'),
(8, 'B', 'Order'),
(9, 'B', 'Review'),
(10, 'A', 'Review')
SET IDENTITY_INSERT CustomerAction OFF;
GO

SELECT *
FROM CustomerAction
--
SELECT Adv_Type, COUNT(Adv_Type) AS Count_of_Adv
INTO 
FROM CustomerAction
GROUP BY Adv_Type

SELECT *
FROM 
--
SELECT Action, Adv_Type, COUNT(Action) as Count_of_Action
INTO 
FROM CustomerAction
WHERE Action = 'Order'
GROUP BY Action, Adv_Type

SELECT Adv_Type, Count_of_Action
FROM 

-- Sonuç
SELECT A.Adv_Type, A.Count_of_Adv, B.Count_of_Action
INTO 
FROM 
JOIN 
ON A.Adv_Type = B.Adv_Type

SELECT * FROM 

SELECT Adv_Type, CAST((Count_of_Action*1.0/Count_of_Adv) AS NUMERIC(3,2)) as AS NUMERIC(3,2)
FROM